body{
    /* font-family: 'Baloo Bhai 2', cursive; */
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #c1c8e4;
}

/* This is background image of this site. ex:- mountians img */
#back-img{
    height: 100vh;
    margin-left: -10px;
    margin-top: -200px;
    width: 1284px;
    position: fixed;
    z-index: -2;
} 

/* This is Navigation bar. */
#nav{
    /* border: 2px solid black; */
    display: flex;
    position: fixed;
    margin-top: -196px;
    font-weight: bold;
    color: #333;
}

/* Lists in navigation bar. */
li{
    list-style: none;
}

/* Manus in navigation bar. */
#manu{
    /* display: flex; */
    
}

/* Manus in navigatin bar.  */
.manu{
    margin-top: 40px;
    margin-left: 60px;
    
}

/* This is sub-manu of manu's css. */
.sub-manu-1{
    display: none;
}

/* when someone hover at manu. than sub-manu action. */
.manu:hover .sub-manu-1{
    position: absolute;
    display: inline;
}

/* when someone hover at manu. than sub-manu action. */
#sub-manu-1{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
    height: 200px;
    width: 400px;
    flex-direction: column;
    background-color: rgba(153, 153, 153, .9);
    border-radius: 8px;
    padding: 0px;
    
}

/* This is sub manu 2 of manu3. */
.sub-manu-2{
    display: none;
}

/* This is sub-manu of navigation bar. */
#holyday-type:hover .sub-manu-2{
    display: inline;
    position: absolute;
}
/* This is sub-manu-2. */
#sub-manu-2{
    margin-top: 40px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    border: 2px solid black;
    height: 200px;
    width: 400px;
    flex-direction: column;
    background-color: rgba(153, 153, 153, .9);
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 0px;
}

/* This sub-manu-2's li>a */
li a{
    text-decoration: none;
    color: black;
    /* border: 2px solid rgb(155, 155, 19); */
    
}

/* Hover at Sub-manu-2>li>a */
li a:hover{
    background-color: #c1c8e4;
    padding: 5px;
}

/* This is search bar in navigation manu. */
#search {
    position: relative;
    left: 140px;
    top: 33px;
    height: 25px;
    width: 200px;
    border-color: black;
}
/* This is landing page background image. ex:- Taj mahal img */
#header::before{
    content: "";
    position: absolute;
    background: url(taj\ mahal\ 2.jpg) no-repeat center center/cover;
    height: 93%;
    width: 100%;
    z-index: -1;
    margin-left: -7px;
    margin-right: -7px;
    margin-top: -200px;
}
header{
    margin-top: -200px;
}
/* This is midhead box css.*/
#midhead{
    text-align: center;
    margin-top: 399px;
}
/* This is midhead button below the main head line. */
.midhead{
    margin-top: 0px;
    text-decoration: none;
}
/* This is title line of this website. */
.title{
    padding-top: 100px;
}
h3{
    display: block;
}
/* This section part of this website. */
#section{
    margin-top: 280px;
}
/* This is section 1 */
#section1{
    display: flex;
    /* display: flex;
    position: relative;
    top: 300px;
    left: 200px; */
    text-align: center;
    flex-direction: column;
    align-items: center;
}
 /* Content1(c1) of section 1. */
#c1{
    margin-top: 185px;
}
/* Detail1(d1) of section1. */
#d1{
    margin-top: 30px;
}

/* When someone hover at section1 image. */
#simg:hover{
    height: 600px;
    width: 900px;   
}

 /*This is section2 of this site.  */
#section2{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
/* This is content2(c2) of section2. */
#c2{
    margin-top: 30px;
}
/* This isdetail2(d2) of section2. */
/* #d2{
    .............
} */

/* When someone hover at section2 image. */
#simg2:hover{
    height: 600px;
    width: 900px;    
}

/* This is section3. */
#section3{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
/* This is content3(c3) of section3. */
#c3{
    margin-top: 30px;
}
/* This is detail3(d3) of section3. */
/* #d3{
    ....................
} */

/* When someone hover at section3 image. */
#simg3:hover{
    height: 600px;
    width: 900px;   
}

/* This is section4. */
#section4{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

/* When someone hover at section4 image. */
#simg4:hover{
    height: 600px;
    width: 900px;   
} 
 
/* That buttons for page 2,3,4. */
#buttons{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    align-items: center;
}
/* This line for more next pages. */
#morepage{
    margin-left: 43.50%;
}

/* this is feedback line for form. */
#formhead{
    margin-left: 500px;
}
/* This form for feedback. */
#form{
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-right: 400px;
} 

/* That is input button of form. */
.fcontant{
    border: 3px solid white;
    color: black;
    border-radius: 25px;
    padding: 20px 100px;
    background: transparent;
    font-weight: bold;
}

/* When someone hove at input buttons of form. */
.fcontant:hover{
    background-color: #fff;
}

/* this is message box for user which have to leave feedback for website. */
#message{
    border: 3px solid white;
    color: black;
    border-radius: 25px;
    background: transparent;
    padding: 40px 10px;
    font-weight: bold;
}

/* When someone hover at message box. */
#message:hover{
    background: white;
}

/* This button for feedback submit button. */
#fed-submit{
    border: 3px solid white;
    border-radius: 25px;
    padding: 20px 50px;
    background: transparent;
}
/* When some hover at fed-submit button. */
#fed-submit:hover{
    background-color: white;
}

/* Note point of website. */

/* This CSS for Note1. */
#Note1{
    text-decoration: none;
    color: black;
}
#Note1:hover{
    color:blue;
}
.Note1{
    border: 2px solid white ;
    height: 50px;
    width: 200px;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Note1 8s 0.5s infinite;
}
@keyframes Note1{
    0%{
        background-color: whitesmoke;
        margin-left: 100%;
        border-radius: 15px;
    }

    25%{
        background-color: #c1c8e4;
        margin-left: 75%;
        border-radius: 15px;
    }

    50%{
        background-color: #70758b;
        margin-left: 50%;
        border-radius: 15px;
    }

    75%{
        background-color: #c1c8e4;
        margin-left: 25%;
        border-radius: 15px;
    }

    100%{
        background-color: whitesmoke;
        margin-left: 0%;
        border-radius: 15px;
    }

}

/* This CSS for NOte2. */
#Note2{
    text-decoration: none;
    color: black;
}
#Note2:hover{
    color:blue;
}
.Note2{
    border: 2px solid white ;
    height: 50px;
    width: 200px;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Note2 8s 0.5s infinite;
}
@keyframes Note2{
    0%{
        background-color: whitesmoke;
        margin-left: 0%;
        border-radius: 15px;
    }

    25%{
        background-color: #c1c8e4;
        margin-left: 25%;
        border-radius: 15px;
    }

    50%{
        background-color: #70758b;
        margin-left: 50%;
        border-radius: 15px;
    }

    75%{
        background-color: #c1c8e4;
        margin-left: 75%;
        border-radius: 15px;
    }

    100%{
        background-color: whitesmoke;
        margin-left: 100%;
        border-radius: 15px;
    }

}
/* This Footer Css */
#footer{
    /* border: 2px solid red; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    height: 350px; 
    margin-top: 50px;
    background-color: rgba(153, 153, 153, .9);
    border-radius: 25px;
    color: #fff;
}
#box1{
    /* border: 2px solid black; */
    height: 300px;
    width: 300px;
    color: #fff;
}
#box1 ul li a{
    color: #fff;
}
#box2{
    /* border: 2px solid black; */
    height: 300px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}
#box3{
    /* border: 2px solid black; */
    height: 300px;
    width:300px;
}
#box4{
    /* border: 2px solid black; */
    height: 300px;
    width: 300px;
}
/* This input of email. */
#subscribe{
    border: 2px solid black;
    padding: 15px;
    border-radius: 25px;
}

/* This is submit button of email. */
.subscribe{
    margin-left: 60px;
    margin-top: 10px;
}

/* Here are some social medias. */
#socialmedia{
    margin-top: 15px;
}

/* This social media. */
#twitter{
    height: 20px;
    width: 20px;
}

/* This social media. */
#facebook{
    height: 20px;
    width: 20px;
}

/* This social media. */
#instagram{
    height: 20px;
    width: 20px;
}

/* This social media. */
#youtube{
    height: 20px;
    width: 20px;
}

/* This is box3 in footer. */
#box3 a{
    text-decoration: none;
    color: #fff;
}

/* When some hover at box3's ancer lines. */
#box3 a:hover{
    font-weight: bold;
}

/* This copyright line and privacy & policy. */
#copyright{
    padding-left: 400px;
}
#time{
    margin-top: 100px;
    margin-right: 20px;
}