body{
    /* font-family: 'Baloo Bhai 2', cursive; */
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
}
/* This is Header Css. */
#nav{
    /* border: 2px solid black; */
    display: flex;
    position: fixed;
    margin-top: -196px;
    font-weight: bold;
    /* text-shadow:2px 2px rgb(56, 54, 23); */
    /* overflow: hidden; */
}
li{
    list-style: none;
}
#manu{
    /* display: flex; */
    
}
.manu{
    padding-top: 40px;
    padding-left: 60px;
    
}
.sub-manu-1{
    display: none;
}
.manu:hover .sub-manu-1{
    position: absolute;
    display: inline;
}
#sub-manu-1{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
    height: 200px;
    width: 400px;
    flex-direction: column;
    background-color: rgba(255, 255, 0, 0.431);
    border-radius: 8px;
    padding-left: 20px;
}
.sub-manu-2{
    display: none;
}
#holyday-type:hover .sub-manu-2{
    display: inline;
    position: absolute;
}
#sub-manu-2{
    margin-top: 40px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    border: 2px solid black;
    height: 200px;
    width: 400px;
    flex-direction: column;
    background-color: rgba(255, 255, 0, 0.431);
    border-radius: 8px;
    padding-left: 20px;
}

li a{
    text-decoration: none;
    color: black;
    /* border: 2px solid rgb(155, 155, 19); */
    
}
li a:hover{
    background-color: rgb(155, 155, 19);
    border-radius: 5px;
}
li a.visited{
    color: rgb(155, 155, 19);
}
li a.active{
    color:rgb(155, 155, 19) ;
}
#search {
    position: relative;
    left: 140px;
    top: 33px;
    height: 25px;
    width: 200px;
    border-color: black;
}
#header::before{
    content: "";
    position: absolute;
    background: url(taj\ mahal\ 2.jpg) no-repeat center center/cover;
    height: 85%;
    width: 100%;
    z-index: -1;
    margin-top: -200px;
}
header{
    margin-top: -200px;
}
#midhead{
    text-align: center;
    margin-top: 399px;
}
.midhead{
    margin-top: 0px;
    text-decoration: none;
}
.title{
    padding-top: 100px;
}
h3{
    display: block;
}
#section{
    margin-top: 280px;
}
#section1{
    display: flex;
    /* display: flex;
    position: relative;
    top: 300px;
    left: 200px; */
    text-align: center;
    flex-direction: column;
    align-items: center;
}
 /* Content 1 */
#c1{
    margin-top: 185px;
}
#d1{
    margin-top: 30px;
} 
#c2{
    margin-top: 30px;
}
#c3{
    margin-top: 30px;
}
#section2{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#section3{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#section4{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#buttons{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    align-items: center;
}
#morepage{
    margin-left: 43.50%;
}
#form{
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-right: 400px;
} 
.fcontant{
    padding: 10px 10px;
    border-radius: 100px solid black;
}
#message{
    padding: 40px 10px;
}
#formhead{
    margin-left: 500px;
}
/* This Footer Css */
#footer{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#simg:hover{
    height: 600px;
    width: 900px;
    
}
#simg2:hover{
    height: 600px;
    width: 900px;
    
}
#simg3:hover{
    height: 600px;
    width: 900px;
    
}
#simg4:hover{
    height: 600px;
    width: 900px;
    
}